.section2 {
    font-family: "Work Sans", sans-serif;
}

.container-filtro {
    display: flex;
    flex: 1;
}

.filtro {
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--darkgray);
    border: 1px solid var(--gray);
}

.filtro h2 {
    color: var(--white);

}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-area,
.container-periodo,
.container-preco {
    margin-bottom: 5px;
}

label {
    display: block;
    font-size: var(--f2);
    color: var(--white);
    margin-block: 2px;
}

.filtro select,
.filtro input[type="text"] {
    width: 100%;
    padding-block: 10px;
    font-size: var(--f2);
    border-radius: 4px;
    border: 1px solid var(--gray);
    background-color: var(--background);
    color: var(--white);
}

.min, .max {
    width: 50%;
}

.container-botao button {
    width: 100%;
    padding: 10px;
    font-size: var(--f2);
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--secundary);
    }
}

@media (max-width: 812px) {
    .filtro {
        flex-direction: column;
    }
}