<head>
    <title>Confirmação Email</title>
    <link rel="stylesheet" href="/css/cadastro/info.css">
    <link rel="icon" type="image/x-icon" href="/assets/icons/icon.ico">

</head>

<section class="section-5">
    <div class="conteudo">
        <div class="contratante">
            <form method="post" id=" ">
                <label> Confirme seu email</label>
                <span>Enviamos um código ao seu email, insira abaixo para confirmar o cadastro</span>
                <input type="text" name="tconfirma" id="tconfirma" class="caixadetexto" placeholder=" " maxlength="50"
                    minlength="5" /> <br />

                <div class="botoes">
                    <input type="submit" name="btnaorecebido" id="btnaorecebido" class="botao2"
                        value="Não recebi o email" />
                    <input type="submit" name="btnproximo" id="btnproximo" class="botao" value="Próximo" />
                </div>
            </form>
        </div>
    </div>


</section>




<script src="../../src/js/hamburguer.js"></script>