<head>
    <title>Cadastro</title>
</head>
<link rel="stylesheet" href="/css/cadastro/login.css">
<section class="section-1">
    <div class="banner">
        <div class="slogan">
            <h3>Onde iniciantesse tornam</h3>
            <h1>PROFISSIONAIS</h1>
        </div>
    </div>

    <div class="conteudo">
        <img src="assets\image\logoWorkFlow-com-nome.svg" alt="Logo Union">
        <div class="topo">
            <h1>Qual sua função?</h1>
        </div>

        <div class="botao">
            <button class="button" type="Register" onclick="location.href='/contratante'">
                <h1>Sou um contratante</h1>
                <p>Busco por profissionais para meu projeto</p>
            </button>

            <button class="button" type="Register" onclick="location.href='./freelancer'">
                <h1>Sou um freelancer</h1>
                <p>Busco por projetos para trabalhar</p>
            </button>
        </div>
        <div class="entrar">
            <button type="submit" id="btnLogin" onclick="window.location.href='/login'">Já tem uma
                conta?</button>
        </div>
    </div>

</section>

<script src="../../src/js/hamburguer.js"></script>