    <link rel="stylesheet" href="/css/index/index.css">

<footer class="footer">
    <div class="container-footer">
        <div class="logo-footer"><img src="/assets/image/logoWorkFlow-nome.svg" alt="Logo"></div>
        <div class="links-footer">
            <a href="">Termos e Condições</a>
            <a href="">Privacidade</a>
            <a href="">Ajuda</a>
            <a href="">Conheça o projeto</a>
        </div>
    </div>
</footer>
