<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Freelancer</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/icon.ico">
    <link rel="stylesheet" href="css/cadastro/freelancer.css">
</head>
<body>
    <section class="section-3">
    <div class="conteudo">
        <div class="topo">
            <img src="assets/image/Union.png" alt="logo">
            <h1>Criar nova conta </h1>
            <h3>Preencha todos os campos abaixo</h3>
        </div>

        <div class="freelancer">
            <form id="formfreelancer">
                <label> Email</label>
                <input type="email" name="temail" id="txtEmail" class="caixadetexto" placeholder="email" maxlength="50"
                    minlength="5" /> <br />

                <label> Senha</label>
                <input type="password" name="tsenha" id="txtSenha" class="caixadetexto" placeholder="senha"
                    maxlength="50" minlength="5" /> <br />

                <label> Confirmar Senha</label>
                <input type="password" name="tsenha" id="tConfirmarSenha" class="caixadetexto"
                    placeholder="confirmar senha" maxlength="50" minlength="5" /> <br />

                <label> Data de nascimento</label>
                <div class="dataenviar">
                    <input type="date" name="tdata" id="txtData" class="tdata" placeholder=" " maxlength="50"
                        minlength="5" /> <br />

                    <input type="submit" name="btnenviar" id="btnEnviar" class="botao" value="Enviar" />
                </div>

            </form>
        </div>
    </div>


</section>




<script src="/js/hamburguer.js"></script>
<script type="module" src="/js/cadastro.js"></script>
</body>
