@import "../globals/globals.css";
@import "../index/partials/nav.css";

@import "partials/layout.css";
@import "partials/filters.css";
@import "partials/background.css";
@import "partials/proposal-cards.css";
