<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/icon.ico">
    <link rel="stylesheet" href="/css/components/background.css">
    <link rel="stylesheet" href="/css/components/nav.css">


</head>

<body>
    <script>

    </script>
    <%- include('partials/navbar') %>

    <%- include(view) %>
    
    <%- include('partials/footer') %>

                <script src="js/hamburguer.js"></script>
                <script src="/js/scroll.js"></script>
                <script src="/js/nav.js"></script>


</body>

</html>