<head>
    <link rel="stylesheet" href="/css/index/index.css">

</head>

<section class="section-1">
    <div class="title">
        <h1>Explore e <span>Inspire-se</span></h1>
    </div>

    <div class="categorias-wrapper">
        <button class="scroll-arrow prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="-6 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                    d="M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414" />
            </svg>
        </button>
        <div class="categorias">
            <button type="button" class="button_categoria-active">todos</button>
            <button type="button" class="button_categoria">Design</button>
            <button type="button" class="button_categoria">UI design</button>
            <button type="button" class="button_categoria">3D Design</button>
            <button type="button" class="button_categoria">Canva design</button>
            <button type="button" class="button_categoria">UX</button>
            <button type="button" class="button_categoria">Web design</button>
            <button type="button" class="button_categoria">Interior design</button>
            <button type="button" class="button_categoria">Poster design</button>
            <button type="button" class="button_categoria">Design gráfico</button>
        </div>
        <button class="scroll-arrow next">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="-6 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                    d="M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414" />
            </svg>
        </button>
    </div>
</section>

<section class="section-2">
    <main class="card-zone">
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
        <div class="card_projeto">
            <div class="capa">
                <figure>
                    <img src="" alt="" class="thumbnail">
                </figure>
                <div class="thumbnail-overlay">
                    <div class="project-overlay-content">
                        <div class="like">
                            <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                    fill="none" stroke="black" />
                            </svg>
                        </div>
                        <div class="project-title">
                            <h1>Project 1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autor">
                <img src="" alt="Profile pic">
                <h2 class="username">User</h2>
            </div>
        </div>
    </main>
</section>
