<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Contratante</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/icon.ico">
    <link rel="stylesheet" href="/css/cadastro/contratante.css">
</head>

<link rel="stylesheet" href="/css/cadastro/contratante.css">
<section class="section-2">
    <div class="conteudo">
        <div class="topo">
            <img src="/assets/image/Union.png" alt="logo">
            <h1>Criar nova conta </h1>
            <h3>Preencha todos os campos abaixo</h3>
        </div>

        <div class="contratante">
            <form id="formcontratante">
                <label> Email</label>
                <input type="email" name="temail" id="txtEmailContra" class="caixadetexto" placeholder="email"
                    maxlength="50" minlength="5" /> <br />

                <label> Senha</label>
                <input type="password" name="tsenha" id="txtSenhaContra" class="caixadetexto" placeholder="senha"
                    maxlength="50" minlength="5" /> <br />

                <label> Confirmar Senha</label>
                <input type="password" name="tsenha" id="txtConfirmarSenhaContra" class="caixadetexto"
                    placeholder="confirmar senha" maxlength="50" minlength="5" /> <br />


                <label> Data de nascimento</label>
                <div class="dataenviar">
                    <input type="date" name="tdata" id="txtDataContra" class="tdata" placeholder=" " maxlength="50"
                        minlength="5" />
                    <br />
                    <input class="caixadetexto" type="text" id="documento" name="documento"
                        placeholder="Digite CPF ou CNPJ (Apenas Números)" style="width: 100%; color: white;"
                        maxlength="18">

                </div>
                <input type="submit" name="btnenviar" id="btnenviar" class="botao" value="Cadastrar" />
            </form>
        </div>
    </div>


</section>



<script src="../../src/js/hamburguer.js"></script>
<script type="module" src="/js/cadastroContratante.js"></script>