<link rel="stylesheet" href="../../../public/css/cadastro/passos.css">
<section class="section-4">
    <div class="conteudo">
        <div class="topo">
            <img src="../../../src/assets/image/Union.png" alt="logo">
            <h1>Primeiros Passos</h1>
            <h3>Precisamos de algumas informações adicionais para iniciar sua jornada, não se preocupe, isso não vai
                demorar</h3>
        </div>

        <div class="contratante">
            <form method="post" id="formcontratante">
                <label> O que você busca?</label>
                <input type="text" name="tprofissao" id="tprofissao" class="caixadetexto" placeholder=" " maxlength="50"
                    minlength="5" /> <br />

                <label> Qual o tamanho da sua empresa?</label>
                <input type="text" name="tcarreira" id="tcarreira" class="caixadetexto" placeholder=" " maxlength="50"
                    minlength="5" /> <br />

                <label> Que tipo de freelancer você busca? </label>
                <input type="text" name="tlingua" id="tlingua" class="caixadetexto" placeholder=" " maxlength="50"
                    minlength="5" /> <br />

                <input type="submit" name="btnproximo" id="btnproximo" class="botao" value="Próximo" />

            </form>
        </div>


    </div>
    </div>


</section>




<script src="../../src/js/hamburguer.js"></script>