<link rel="stylesheet" href="/css/cadastro/info.css">
<section class="section-5">
    <div class="conteudo">
        <div class="contratante">
            <form method="post" id="formcontratante">
                <label> Qual o nome da sua empresa?</label>
                <input type="text" name="tapelido" id="tapelido" class="caixadetexto" placeholder=" " maxlength="50"
                    minlength="5" /> <br />


                <input type="submit" name="btnproximo" id="btnproximo" class="botao" value="Próximo" />
            </form>
        </div>
    </div>


</section>

<script src="../../src/js/hamburguer.js"></script>