.artboard {
    background-color: var(--background);
    height: 100%;
    margin: 4px;
    padding: 0;
}

.artboard .content {
    background-color: var(--darkgray);
    height: 100%;
}

.artboard::-webkit-scrollbar {
    width: 8px;
}

.artboard::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
}

.artboard::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.artboard::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

