.componentes {
    background: var(--darkgray);
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}

.componentes h2 {
    color: var(--white);
    font-family: "Work Sans", sans-serif;
    margin-bottom: 5px;
    font-size: var(--f2);
    font-weight: 600;
}

.componentes .texto, .componentes .imagem {
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--darkgray);
    padding: 3px;
    padding-block: 20px;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    color: var(--white);
    font-size: var(--f2);
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--white);
    transition: background-color 0.3s ease;
}

.componentes .texto:hover, .componentes .imagem:hover {
    background: var(--gray);
    transition: background-color 0.3s ease;
}

.componentes p {
    margin: 5px;
}