.cancelar, .proximo {
    padding: 15px 30px;
    font-size: var(--f2);
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.cancelar {
    background-color: var(--background);
    color: var(--white);
    transition: background-color 0.3s ease;
}
.cancelar:hover {
    background-color: var(--gray);
    transition: background-color 0.3s ease;
}

.proximo {
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}
.proximo:hover {
    background-color: var(--tertiary);
    transition: background-color 0.3s ease;
}