<head>
    <link rel="stylesheet" href="/css/proposals/proposals.css">

</head>

<section class="section1">
    <h1>Propostas</h1>
</section>

<section class="section2">
    <div class="container">
        <div class="filtro">
            <h2>Filtrar</h2>
            <div class="container-area">
                <label for="area">Área</label>
                <select name="area" id="area">
                    <option value="frontend">FrontEnd</option>
                    <option value="designDeInteriores">Design de interiores</option>
                    <option value="designDeInterface">Design de Interface</option>
                    <option value="arquiteto">Arquiteto</option>
                    <option value="paisagismo">Paisagismo</option>
                    <option value="design3d">Design 3D</option>
                    <option value="posterDesign">Poster Design</option>
                </select>
            </div>
            <div class="container-periodo">
                <label for="periodo">Periodo</label>
                <select name="periodo" id="periodo">
                    <option value="hoje">hoje</option>
                    <option value="ultimaSemana">Ultima semana</option>
                    <option value="ultimoMes">Ultimo mês</option>
                </select>
            </div>
            <div class="container-preco">
                <div class="min">
                    <label for="min">Preço Min.</label>
                    <input type="text" name="min" id="precomin">
                </div>
                <div class="max">
                    <label for="min">Preço Max.</label>
                    <input type="text" name="max" id="precomax">
                </div>
            </div>
            <div class="container-botao">
                <button type="submit">Filtrar</button>
            </div>
        </div>
    </div>

    <div class="propostas">
        <div class="proposta-card">
            <div class="head">
                <h3>Design de Interface para App de Treino</h3>
                <div class="price">R$1500 - R$3000</div>
            </div>
            <p class="criadoEm">Criado em 23 de maio de 2025</p>
            <div class="tags">
                <span class="tag">UI Design</span>
                <span class="tag">Mobile</span>
            </div>
            <p class="description">Olá, estou em busca de um especialista em tráfego pago para
                gerenciar e otimizar campanhas no Instagram, com o objetivo de atrair
                novos clientes e aumentar as vendas da minha empresa. Sou correspondente
                bancário e o ig da minha empresa para avaliação</p>
            <div class="footer">
                <div class="client">
                    <img class="profilePic" src="" alt="Client">
                    <span>João Silva</span>
                </div>
                <div class="buttons">
                    <button class="verMais">Ver mais</button>
                    <button class="enviar">Enviar proposta</button>
                </div>
            </div>
        </div>
        <div class="proposta-card">
            <div class="head">
                <h3>Design de Interface para App de Treino</h3>
                <div class="price">R$1500 - R$3000</div>
            </div>
            <p class="criadoEm">Criado em 23 de maio de 2025</p>
            <div class="tags">
                <span class="tag">UI Design</span>
                <span class="tag">Mobile</span>
            </div>
            <p class="description">Olá, estou em busca de um especialista em tráfego pago para
                gerenciar e otimizar campanhas no Instagram, com o objetivo de atrair
                novos clientes e aumentar as vendas da minha empresa. Sou correspondente
                bancário e o ig da minha empresa para avaliação</p>
            <div class="footer">
                <div class="client">
                    <img class="profilePic" src="" alt="Client">
                    <span>João Silva</span>
                </div>
                <div class="buttons">
                    <button class="verMais">Ver mais</button>
                    <button class="enviar">Enviar proposta</button>
                </div>
            </div>
        </div>
        <div class="proposta-card">
            <div class="head">
                <h3>Design de Interface para App de Treino</h3>
                <div class="price">R$1500 - R$3000</div>
            </div>
            <p class="criadoEm">Criado em 23 de maio de 2025</p>
            <div class="tags">
                <span class="tag">UI Design</span>
                <span class="tag">Mobile</span>
            </div>
            <p class="description">Olá, estou em busca de um especialista em tráfego pago para
                gerenciar e otimizar campanhas no Instagram, com o objetivo de atrair
                novos clientes e aumentar as vendas da minha empresa. Sou correspondente
                bancário e o ig da minha empresa para avaliação</p>
            <div class="footer">
                <div class="client">
                    <img class="profilePic" src="" alt="Client">
                    <span>João Silva</span>
                </div>
                <div class="buttons">
                    <button class="verMais">Ver mais</button>
                    <button class="enviar">Enviar proposta</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../../src/js/theme.js"></script>
<script src="/js/hamburguer.js"></script>