body {
    margin: 0px;
    padding: 0px;
}

.section-2 {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}

.topo h1 {
    font-weight: 600;
    font-size: var(--f6);
    margin-bottom: 10px;
    margin-top: 2px;
}

.topo h3 {
    font-weight: 200;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: var(--f3);
}

.topo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


 .conteudo {
    grid-area: 1 / 1 / 2 / 2;
    padding: 15px;
    font-family: "Work Sans", sans-serif;
    background-color: var(--background);
    justify-content: center;
    color: var(--white);
    display: flex;
    text-align: center;
    flex-direction: column;
}

.conteudo form {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
}


.conteudo input  {
    background-color: var(--darkgray);
    margin-top: 1px;
    font-size: var(--f2);
    border: 1px solid var(--gray);
    padding: 13px;
    border-radius: 5px;
    
}

.conteudo label {
    font-size: var(--f2);
    margin-top: 10px;
    margin-bottom: 5px;
}

.dataenviar{
    display: flex;
    gap: 10px;   
}

.tdata  {
    background-color: var(--gray);
    width: 35%;
    margin-top: 1px;
    border-radius: 5px;
    color: var(--white);
    
}

form .botao {
    margin-top: 10px;
    border: none;
    width: 100%;
    padding-left: 10px;
    background-color: var(--primary);
    color: var(--white);
    
}

@media (max-width: 768px) {
   
    .section-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}