body {
    margin: 0px;
    padding: 0px;
    font-family: 'work sans', sans-serif;
}

.section-1 {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
} 

.conteudo {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

.banner {
    grid-area: 1 / 2 / 2 / 3;
    color: var(--white);
    display: flex;
    align-items: center;
    padding-inline: 40px;

}

.slogan h3 {
    font-size: var(--f4);
    color: var(--white);
    margin: 0px;
    padding: 0px;
}
.slogan h1 {
    font-size: 80px;
    color: var(--white);
    margin: 0px;
    padding: 0px;
}



.topo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    align-items: center;
}

.botao {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.botao .button {
    width: 100%;
    height: 190px;
    margin-bottom: 15px;
    background-color: var(--gray);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 10px;
    gap: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
    transition: 0.3s;
}

.botao .button:hover {
    background-color: var(--darkgray);
    transition: 0.3s;
}

.button h1, p {
    margin: 5px;
}

.entrar button {
    background-color: var(--background);
    border: 1px solid var(--white);
    color: white;
    margin-top: 15px;
    padding: 15px;
    font-size: var(--f2);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.entrar button:hover {
    background-color: var(--white);
    color: var(--background);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
} 

@media (max-width: 920px) {
    .section-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .banner {
        display: none;
    }
}